<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Создание пользователя</title>
  <h1>Создание пользователя</h1>
<body>
<table>
  <thead>
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Возраст</th>
    <th>Пароль</th>
    <th>Роль</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><input type="text" id="name" name="name" /></td>
    <td><input type="text" id="lastName" name="lastName"/></td>
    <td><input type="text" id="age" name="age"/></td>
    <td><input type="text" id="password" name="password"/></td>

    <td>
      <div th:each="role : ${allRoles}">
        <label>
          <input type="checkbox" name="roles" th:value="${role.name}" />
          <span th:if="${role.name == 'ROLE_USER'}" th:text="'User' "></span>
          <span th:if="${role.name == 'ROLE_ADMIN'}" th:text="'Admin' "></span>
          <span th:if="${role.name != 'ROLE_USER' and role.name != 'ROLE_ADMIN'}" th:text="${role.name}"></span>

        </label>
      </div>
    </td>


  </tr>
  </tbody>
</table>

<div id="message"><p th:text="${message}"></p></div>

<button type="button" style="padding: 5px;" onclick="editUser()">Создать</button>

<form action="#" th:action="@{/logout}" method="post"><button type="submit">Выйти</button></form>


<script>
  function editUser() {
    const name = document.getElementById('name').value;
    const lastName = document.getElementById('lastName').value;
    const age = document.getElementById('age').value;
    const password = document.getElementById('password').value;
    const roles = Array.from(document.querySelectorAll('input[name="roles"]:checked'))
            .map(role => role.value)
            .join(',');

    var baseUrl = window.location.protocol + "//" + window.location.host + window.location.pathname;
    var newUrl = baseUrl + `?name=${name}&lastName=${lastName}&age=${age}&password=${password}&roles=${roles}`;

    window.location.href = newUrl;
  }
</script>
</body>
</html>